@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	color: black;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-size: 10px;
}
a {color: black;}
#board-section{ 
	min-height: calc(100vh - 20rem);
}
#ohter {
    height: 10rem;
}
.board-list {
  width: 80%;
  margin: 0 auto;
}
#align-option {
	text-align: right;
	outline: none;
	margin-bottom: 2rem;
}
table {
  border-collapse: collapse; /* 테이블 셀 간의 간격 없애기 */
  width: 100%; /* 테이블이 가로로 꽉 차게 */
  text-align: center;
}
.post-item {
  background-color: #f8f9fa;
}
th {
  border-top: 1px solid #999; /* 셀 경계선 */
  border-bottom: 1px solid #999; /* 셀 경계선 */
  padding: 1.2rem 0; /* 안쪽 여백 */
}
td {
  padding: 1.2rem 0; /* 안쪽 여백 */
}
tr{ 
	border-bottom: 1px solid #ddd; /* 셀 경계선 */
}
tr:last-child {
	 border-top: 1px solid #999;
}
.user-number,
.user-name {
	width: 10%;
}
.user-rank {
	width: 20%;
}
.user-email {
	width: 30%;
}
.user-tel,
.user-reg {
	width: 15%;
}
.rank-option {
	margin-right: 4rem;
}
#search-form {
	width: 50%;
	margin: 2rem auto 0 auto;
	border: 1px solid #000;
}
#search-form > * {
	padding: 0.7rem;
	border: none;
	outline: none;
	border-right: none;
	font-size: 0.7rem;
}
#form-value::placeholder {
	font-size: 0.7rem;
}
#search-form select {
	width: 20%;
	border-right: 1px solid #000;
}
#search-form input {
	width: 60%;
}
#button-wrap {
	margin-left: auto;
}
#qna-button {
	display: inline-block;
	font-size: 0.7rem;
	background-color: #fff;
	border:none;
}
#qna-button:hover {
	text-decoration: underline;
	text-decoration-color: #73d09a;
	text-underline-position : under;
}
#page-nation {
	margin-top: 2rem;
}
#page-nation a {
	display: block;
	width: 2rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	font-size: 0.7rem;
}
.currentPage {
	background-color: #73d09a;   
	color: #fff;
	font-weight: bold;
	border-radius: 50%;
}
.hidden {
	visibility: hidden;
}