@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	list-style: none;
	color: black;
}
body {
	font-size: 10px;
}
embed {
	width: 60%;
}
#main-url {
	border-radius: 20px;
}

.wrap {
	width: 80%;
	margin: 0 auto;
}

.flex-box {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.list-box {
	width: 40%;
	padding: 0 2rem;
}
#hit {
	padding: 10px;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
small {
	color: #444;
}
.url-title {
	font-size: 1.6rem;
	font-weight: bold;
	margin: 2rem 0;
}

.url-content {
	font-size: 0.8rem;
	font-weight: 400;
	color: rgb(80, 80, 80);
}

.sub-url {
	width: 70px;
}

.list {
	overflow: scroll;
}

.scroll-box {
	height: 400px;
}

.list li a {
	display: block;
	display: flex;
	align-items: center;
}

.list li {
	width: 100%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-bottom: 20px;
	transition: 0.2s ease-out;
}

.list li:hover {
	border: 1px solid #000;
}

.list li a span {
	display: block;
	margin-left: 2rem;
}

.list li a span:first-child {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
}
#addToFavoritesBtn {
	width: 100%;
	height: 3rem;
	line-height: 50px;
	display: block;
	margin: 2rem 0;
	background-color: #73d09a;
	border-style: none;
	border-radius: 10px;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 2px 2px 7px 2px rgb(233, 233, 233);
}
#addToFavoritesBtn a {
	color: #fff;
}
.add {
	color: #fff;
}
