* {
	margin: 0;
	padding: 0;
	color: black;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}
body {
	font-size: 10px;
}
/* 단일 tag  */
section {
	margin-top: 10%;
	border-top: 1px solid #000;
	font-size: 0;
}
article {
	width: 50%; 
	font-size: 10px;
	padding: 40px 0;
}
label {
	display: inline-block;
	width: 19%;
}
.title {
	font-size: 0.8rem; font-weight: bold;
}
.wrapper {
	display: flex;
}
.form-wrapper {
	width: 60%;
	margin: 0 auto;
}
.border-box {
	border-bottom: 1px solid #000;
}
input:focus {
	outline: none;
}
.bold { font-weight: 600; }
.inline { display: inline-block; }
.title {
	display: block;
	margin-bottom: 20px;
	font-weight: 600;
}
section article .border-box input {
	display: inline-block;
	padding: 15px 0;
	width: 80%;
	border: none;
}


/* login-form  */
#login { border-right: 1px solid #000; }
#login #submit-box {
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin: 40px 0;
}
#login #submit-box p {
	display: flex;
	align-items: center;
}
#login #submit-box p label {
	margin-left: 10px;
}
#login-button {
	border: none;
	background-color: #fff;
	font-weight: normal;
	cursor: pointer;
}
#find-member-info{
	display: flex;
	justify-content: center;
}
#find-member-info span { margin: 0 5px; }
#join-submit:hover { color: greenyellow; }
#login-button:hover  { color: greenyellow; }

/* account from */
#tel { width: 80%; }

#join-submit,
#login-button {
	display: block;
	margin: 4rem 2rem 4rem auto;
	border: none;
	outline: none;
}
